 let if () {}
 let if () {}
 let if () {}
 let if () {}
 let if () {}
 let if () {}
 let if () {}
 let if () {}
 let if () {}
fjjsmfjesfhfhfhfhjhhhhhhhhhhhhhhhhhhhhhh# Auto detect text files and perform LF normalization
* text=auto
